<body>
    <h1>Game of Thrones</h1>
    <ul class="character-list" style="list-style: none">
        {{#each characters}}
        {{#with bio}}
        <li>
            <h2>{{name}}</h2>
            <p>Actor : {{actor}}</p>
            <p>House : {{house}}</p>
            {{#if location}}<p>WhereAbouts : {{location}}</p>{{/if}}
        </li>
        {{/with}}
        {{/each}}
    </ul>
    <script src="../../src/js/jquery.min.js"></script>
    <script src="../../src/js/index.js"></script>
</body>

</html>